<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ShopMe</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body style="background-color: grey;">
        <!--Header - Navbar-->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand" href="#">ShopMe</a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <!--Use a form to send POST to log out-->
                        <form action="/logout?_method=DELETE" method="POST">
                            <button type="submit" class="btn nav-link">Log out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Body outermost container-->
        <div class="container" style="background-color: white;">
            <!--Heading-->
            <h2 class="pt-3">Orders</h2>
            <p class="pb-3 ps-3">Here you can view all orders</p>

            <!--Container for the content-->
            <div class="container mt-3">
                <div class="row">
                    <!--Content-->
                    <div class="col-sm-12 col-md-8 p-3">
                        <div class="container border rounded p-3">
                            <!--All pending orders listed here-->
                            <h5>Pending orders: <%= pendingCount %></h5>
                            <ul class="list-group" style="max-height: 210px; overflow-y: scroll">
                                <% for (let i = 0; i < pendingCount; i++) { %> 
                                <li class="list-group-item" onclick="getOrderDetail(this.id)" id="<%=pendingOrders[i]%>" >Order: <%= pendingOrders[i] %></li> 
                                <% } %> 
                            </ul>
                            
                            <!--All confirmed orders listed here-->
                            <h5 class="mt-3">Confirmed orders: <%= confirmedCount %></h5>
                            <ul class="list-group" style="max-height: 210px; overflow-y: scroll">
                                <% for (let i = 0; i < confirmedCount; i++) { %> 
                                <li class="list-group-item" onclick="getOrderDetail(this.id)" id="<%=confirmedOrders[i]%>">Order: <%= confirmedOrders[i] %></li> 
                                <% } %> 
                            </ul>

                            <!--Detail view for Order-->
                            <h5 class="mt-3">Order detail: </h5>
                            <ul class="container w-100 border rounded pt-2 ps-5" id="detail-view-order" style="height: 400px; overflow-y: scroll;">
                            </ul>

                            <form method="post" action="/admin/orders">
                                <input type="hidden" name="orderID" id="inputOrderID">
                                <button class="btn btn-primary mt-3">Confirm order</button>
                            </form>
                        </div>
                    </div>
        
                    <!--Menu-->
                    <div class="col-sm-12 col-md-4 p-3">
                        <div class="container border rounded p-3">
                            <h3 class="mb-4">Administrator Panel</h3>
        
                            <ul class="list-group">
                                <li class="list-group-item active" aria-current="true">
                                    <a class="nav-link" href="#">Orders</a>
                                </li>
                                <li class="list-group-item" aria-current="true">
                                    <a class="nav-link" href="/admin/customersAndProducts">Customers and Products</a>
                                </li>
                                <li class="list-group-item">
                                    <a class="nav-link" href="/admin/addProduct">Add a new product</a>
                                </li>
                                <li class="list-group-item">
                                    <a class="nav-link" href="/admin/editProduct">Edit a product</a>
                                </li>
                                <li class="list-group-item">
                                    <a class="nav-link" href="/admin/report">User report</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

        <!--JAVASCRIPT-->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
        <script>
            function getOrderDetail(id){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                    // Action to be performed when the response is ready:
                        const res = JSON.parse(xhttp.responseText);
                        //const res = xhttp.responseText;
                        
                        // Infomation display
                        var view = document.getElementById('detail-view-order');
                        view.innerHTML = "";


                    
                        // Set orderID for input 
                        const inputOrderId = document.getElementById('inputOrderID');
                        inputOrderId.value = res['_id'];
                        // Child node
                        var childNode = document.createElement("li");


                        // Order ID
                        const orderId = document.createTextNode("OrderID: " + res['_id']); 
                        childNode.appendChild(orderId)
                        view.appendChild(childNode);
                        // User
                        childNode = document.createElement("li");
                        const name = document.createTextNode("User: " + res['email']); 
                        childNode.appendChild(name)
                        view.appendChild(childNode);
                        // Date created
                        childNode = document.createElement("li");
                        const date = document.createTextNode("Date ordered: " + res['dateCreated']); 
                        childNode.appendChild(date)
                        view.appendChild(childNode);
                        // Status
                        childNode = document.createElement("li");
                        const status = document.createTextNode("Status: " + res['status']); 
                        childNode.appendChild(status)
                        view.appendChild(childNode);
                        // Total
                        childNode = document.createElement("li");
                        const total = document.createTextNode("Total: " + res['totalCost'] + ' VND'); 
                        childNode.appendChild(total)
                        view.appendChild(childNode);
                        // List of Item:
                        childNode = document.createElement("li");
                        const list = document.createTextNode("List of items: "); 
                        childNode.appendChild(list)
                        view.appendChild(childNode);

                        const listChildNode = document.createElement("ol");
                        view.appendChild(listChildNode);

                        res['itemList'].forEach(element => {
                            var OLchildNode = document.createElement("li");
                            const listItemName = document.createTextNode(element.name); 
                            const listItemPrice = document.createTextNode('Price: ' + element.price + ' VND');
                            const listItemQuantity = document.createTextNode('Quantity: ' + element.quantity);
                            const listItemTotal = document.createTextNode('Total: ' + element.totalPrice + ' VND');
                            OLchildNode.appendChild(listItemName);
                            OLchildNode.appendChild(document.createElement("br"));
                            OLchildNode.appendChild(listItemPrice);
                            OLchildNode.appendChild(document.createElement("br"));
                            OLchildNode.appendChild(listItemQuantity);
                            OLchildNode.appendChild(document.createElement("br"));
                            OLchildNode.appendChild(listItemTotal);
                            listChildNode.appendChild(OLchildNode);
                        });
                    }
                    else{
                        console.log("Something went wrong");
                    }
                };
                //(method, url, async)
                xhttp.open("GET", "/admin/ordersDetail?id=" + id, true);
                xhttp.send();
            }
        </script>
    </body>
</html>