<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ShopMe</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/css/cart.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body onload="cal()">
        <!--Header - Navbar-->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand" href="/home">ShopMe</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                    
                    <form class="d-flex mt-3 mt-lg-0" role="search" action="/search" method="get">
                        <input id="search" class="form-control" type="search" name="name" placeholder="Search" aria-label="Search">
                        <button id="search-btn" class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!--Will be render if NOT LOGGED IN-->
                        <% if ( role === null) { %> 
                        <li class="nav-item mx-2 px-2">
                            <a class="nav-link" aria-current="page" href="/login">Log in</a>
                        </li>

                        <li class="nav-item mx-2 px-2">
                            <a class="nav-link" aria-current="page" href="/register">Sign up</a>
                        </li>
                        <!--ADMIN-->
                        <% }else if ( role === 'admin'){  %>
                            <script>window.location.href='/admin';</script>
                        <% }else{ %> 
                        <!--CUSTOMER-->
                        <li class="nav-item mx-2 px-2">
                            <a class="nav-link" aria-current="page" href="#">
                                Cart
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown mx-2 px-2">
                            <a class="nav-link dropdown-toggle" href="#"
                                role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Settings
                            </a>
                            <ul class="dropdown-menu">
                                <li><p class="dropdown-item-text mb-0" style="font-weight: bold;">Welcome back!</p></li>
                                <li><p class="dropdown-item-text"><%= email %></p></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/changeInfo">Change information</a></li>
                                <li><a class="dropdown-item" href="/changePassword">Change password</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/report">Report to admin</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <!--Use a form to send POST to log out-->
                                    <form action="/logout?_method=DELETE" method="POST">
                                        <button type="submit" class="dropdown-item">Log out</button>
                                    </form>
                                </li>
                            </ul>
                        </li>

                        <% } %> 
                    </ul>
                </div>
            </div>
        </nav>

        <!--Body outermost container-->
        <div class="container h-100 pt-4 pb-4" style="background-color: white;">
            <h3>Your cart: <%= itemList.length %> </h3>
            <p class="text-secondary ps-3">Click to remove item from cart</p>

            <% if (itemList.length !== 0){ %>

            <div class="container p-0" id="cartContainer">
                <ul class="list-group w-100">
                <% for (let i = 0; i < itemList.length; i++){ %> 
                    <li class="list-group-item cart-item" id="<%= itemList[i].productId %>" onclick="handle(this)">
                        <div class="row">
                            <div class="container col-4 col-lg-6 d-flex align-items-center">
                                <img id="product-image" class="img-fluid" 
                                src='data:<%=itemList[i].mimeType%>;base64,<%=itemList[i].base64%>' alt="Product">
                            </div>
                            <div class="container col-8 col-lg-3 d-flex flex-column">
                                <h5 class="m-1"><%= itemList[i].productName %></h5>
                                <p class="ps-3 m-1 text-secondary">Price: <%= itemList[i].productPrice %> VND</p>
                                <p class="ps-3 m-1 text-secondary">Quantity: <%= itemList[i].productQuantity %></p>
                                <p class="m-1" style="font-weight: bold;">Total: 
                                    <span class="price"><%= itemList[i].productQuantity * itemList[i].productPrice %></span>
                                     VND</p>
                            </div>
                        </div>
                    </li>
                <% } %> 
                </ul>
            </div>

            <!--Input a voucher-->
            <form action="/confirmOrder" method="post" class="d-flex flex-column">
                <input type="text" class="form-control mt-4" name="voucher" placeholder="Enter a voucher number">
                <h3 class="container mt-4 w-100 text-end pe-0" style="font-weight: bold;" id="total"></h3>

                <input type="hidden" name="total" id="inputTotal">
                <input class="btn btn-primary ms-auto" type="submit" value="Continue" style="width: fit-content;">
            </form>
            <% } else { %> 
            <div class="container d-flex flex-column" style="width: fit-content;">
                <img src="/media/empty.jpg" id="empty" alt="Empty">
                <h4 class="text-center">Your cart is empty</h4>
                <button class="btn btn-primary" type="button" onclick="window.location.href='/home'">Continue shopping</button>
            </div>
            <% } %> 
        </div>

        <!--Hidden div for SUCCESS-->
        <div class="pop-up" id="popupSuccess">
            <i class="fas fa-check-circle m-2" style="color: green"></i>
            <h3 class="text m-2">Removed from cart</h3>
        </div>
        <!--Hidden div for FAILED-->
        <div class="pop-up" id="popupFailed">
            <i class="fas fa-times-circle m-2" style="color: red"></i>
            <h4 class="text m-2">Something went wrong</h4>
        </div>

        <!--JAVASCRIPT-->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            // For calculating total cart cost
            function cal(){
                var cost = 0;
                var price = document.querySelectorAll('.price');
                price.forEach(item => {
                    cost += parseInt(item.innerHTML);
                })

                document.getElementById('total').innerHTML = 'Total: ' + cost + ' VND';
                document.getElementById('inputTotal').value=cost;
            }

            // For sending AJAX request to remove item from cart
            function handle(item){
                $.ajax({
                    url: '/removeFromCart',
                    method: 'POST',
                    data: { productId: item.id} ,
                    success: function(data) {
                        // SUCCESS popup
                        $('#popupSuccess').fadeToggle(400, 'linear', () => {
                            location.reload(); 
                        }).css('display', 'flex');
                    },
                    error: function(data) {
                        $('#popupFailed').fadeToggle(200, 'linear', () => {
                            setTimeout(() => {$('#popupFailed').fadeToggle(200, 'linear')}, 800)
                        }).css('display', 'flex');
                        console.log('Failed info :' + data);
                    }
                });
            }
        </script>
    </body>
</html>