<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ShopMe</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/css/productDetail.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body onload="loadFeedback(1)">
        <!--Header - Navbar-->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand" href="/home">ShopMe</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                    
                    <form class="d-flex mt-3 mt-lg-0" role="search" action="/search" method="get">
                        <input id="search" class="form-control" type="search" name="name" placeholder="Search" aria-label="Search">
                        <button id="search-btn" class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!--Will be render if NOT LOGGED IN-->
                        <% if ( role === null) { %> 
                        <li class="nav-item mx-2 px-2">
                            <a class="nav-link" aria-current="page" href="/login">Log in</a>
                        </li>

                        <li class="nav-item mx-2 px-2">
                            <a class="nav-link" aria-current="page" href="/register">Sign up</a>
                        </li>
                        <!--ADMIN-->
                        <% }else if ( role === 'admin'){  %>
                            <script>window.location.href='/admin';</script>
                        <% }else{ %> 
                        <!--CUSTOMER-->
                        <li class="nav-item mx-2 px-2">
                            <a class="nav-link" aria-current="page" href="/cart">
                                Cart
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown mx-2 px-2">
                            <a class="nav-link dropdown-toggle" href="#"
                                role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Settings
                            </a>
                            <ul class="dropdown-menu">
                                <li><p class="dropdown-item-text mb-0" style="font-weight: bold;">Welcome back!</p></li>
                                <li><p class="dropdown-item-text"><%= email %></p></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/myOrders">My orders</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/changeInfo">Change information</a></li>
                                <li><a class="dropdown-item" href="/changePassword">Change password</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/report">Report to admin</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <!--Use a form to send POST to log out-->
                                    <form action="/logout?_method=DELETE" method="POST">
                                        <button type="submit" class="dropdown-item">Log out</button>
                                    </form>
                                </li>
                            </ul>
                        </li>

                        <% } %> 
                    </ul>
                </div>
            </div>
        </nav>

        <!--Body outermost container-->
        <div class="container h-100 pt-4 pb-4" style="background-color: white;">
            <div class="row">
                <!--Left panel for product image-->
                <div class="col-md-6 col-12 d-flex justify-content-center">
                    <img id="product-image" class="img-fluid" src='data:<%=mimeType%>;base64,<%=base64%>' alt="Product">
                </div>
                <!--Right panel for product detail-->
                <div class="col-md-6 col-12 p-4">
                    <p style="font-size: 1.5rem;"><%=productName%></p>
                    <h2 style="font-weight: bold;"><%=productPrice%> VND</h2>
                    <p>Description: <%=productDescription%> </p>
                    <p>In stock: <%= productStock %> </p>
                    <p>Sold: <%= productSold %> </p>
                    <p>Category: <%= productCategory %></p>


                    <!-- If NOT LOGGED IN, ask for login -->
                    <% if ( role === null) { %> 
                    <button class="btn btn-primary" onclick="window.location.href='/login'" >Login now to buy this product</button>    
                    <% }else{ %> 
                    <!-- For input quantity -->
                    <!-- Only available for LOGGED IN user-->
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" class="form-control w-25 d-inline" value="1">
                    <!--Container below product detail for button-->
                    <!--If out of stock-->
                        <% if ( productStock === 0 ) { %>
                        <script>
                            document.getElementById('quantity').disabled="true";
                        </script>
                        <div class="container mt-3 p-3">
                            <p style="font-weight: bold; color: red">Out of stock</p>
                        </div>
                        <% }else{ %> 
                        <div class="container mt-3">
                            <button class="btn btn-primary" onclick="addToCartAndBuy()">Buy now</button>
                            <button class="btn btn-secondary ms-3" onclick="addToCart()">Add to cart</button>
                        </div>
                    <% }} %> 
                </div>
            </div>

            <!--Row below for comment-->
            <div class="container mt-3 mt-md-5">
                <h4>Feedbacks</h4>
                <ul class="list-group" id="feedbackList">
                    <li class="list-group-item" id="noFeedback">No feedback</li>
                    <li class="list-group-item" id="feedback0">
                        <div id="rating0">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <span id="date0"></span>
                        <span>by</span>
                        <span id="user0" style="font-weight: bold;"></span><br>
                        <span id="content0"></span>
                    </li>

                    <li class="list-group-item" id="feedback1">
                        <div id="rating1">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <span id="date1"></span>
                        <span>by</span>
                        <span id="user1" style="font-weight: bold"></span><br>
                        <span id="content1"></span>
                    </li>

                    <li class="list-group-item" id="feedback2">
                        <div id="rating2">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                        <span id="date2"></span>
                        <span>by</span>
                        <span id="user2" style="font-weight: bold;"></span><br>
                        <span id="content2"></span>
                    </li>
                </ul>
                
                <!--Button-->
                <div class="container d-flex align-items-center justify-content-center">
                    <button class="btn btn-outline-primary m-3" onclick="prevPage()">Prev</button>
                    <span id="pageNumber">1</span>
                    <button class="btn btn-outline-primary m-3" onclick="nextPage()">Next</button>
                </div>
            </div>
        </div>

        <!--Hidden div for SUCCESS-->
        <div class="pop-up" id="popupSuccess">
            <i class="fas fa-check-circle m-2" style="color: green"></i>
            <h3 class="text m-2">Added to cart</h3>
        </div>
        <!--Hidden div for FAILED-->
        <div class="pop-up" id="popupFailed">
            <i class="fas fa-times-circle m-2" style="color: red"></i>
            <h4 class="text m-2">Something went wrong</h4>
        </div>

        <!--JAVASCRIPT-->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            function addToCart(){
                var urlParams = new URLSearchParams(window.location.search);

                var obj = {
                    'productId': urlParams.get('id'),
                    'quantity': $('#quantity').val()
                };

                $.ajax({
                    url: '/addToCart',
                    method: 'POST',
                    data:obj,
                    success: function(data) {
                        // SUCCESS popup
                        $('#popupSuccess').fadeToggle(200, 'linear', () => {
                            setTimeout(() => {$('#popupSuccess').fadeToggle(200, 'linear')}, 800)
                        }).css('display', 'flex');
                    },
                    error: function(data) {
                        // FAILED popup
                        $('#popupFailed').fadeToggle(200, 'linear', () => {
                            setTimeout(() => {$('#popupFailed').fadeToggle(200, 'linear')}, 800)
                        }).css('display', 'flex');
                        console.log('Failed info :' + data);
                    }
                });
            }



            function addToCartAndBuy(){
                var urlParams = new URLSearchParams(window.location.search);

                var obj = {
                    'productId': urlParams.get('id'),
                    'quantity': $('#quantity').val()
                };

                $.ajax({
                    url: '/addToCart',
                    method: 'POST',
                    data:obj,
                    success: function(data) {
                        // SUCCESS
                        window.location.href='/cart';
                    },
                    error: function(data) {
                        // FAILED
                        console.log('Failed info :' + data);
                    }
                });
            }

            function loadFeedback(page){
                var urlParams = new URLSearchParams(window.location.search);
                const container = document.getElementById('feedbackList')
                var id = urlParams.get('id')

                $.ajax({
                    url: '/getFeedback?id=' + id + '&page=' + page,
                    method: 'GET',
                    success: function(data) {
                        // SUCCESS
                        //console.log(data)
                        if (data === 'No feedback'){
                            // No feedback
                            $("#noFeedback").css("display", "block");
                            $("#feedback0").css("display", "none");
                            $("#feedback1").css("display", "none");
                            $("#feedback2").css("display", "none");
                        }else{
                            // Reset color
                            $(".fa-star").css("color", "#c9c9c9");
                            // Yes
                            $("#noFeedback").css("display", "none");
                            $("#feedback0").css("display", "none");
                            $("#feedback1").css("display", "none");
                            $("#feedback2").css("display", "none");

                            // 1st
                            if (data[0]){
                                $("#feedback0").css("display", "block");
                                $("#date0").text(data[0].date)
                                $("#user0").text(data[0].user)
                                $("#content0").text(data[0].feedback)

                                let rating0 = $("#rating0").children("i").slice(0, data[0].star);
                                rating0.css("color", "#fcd303")
                            }
                            // 2nd
                            if (data[1]){
                                $("#feedback1").css("display", "block");
                                $("#date1").text(data[1].date)
                                $("#user1").text(data[1].user)
                                $("#content1").text(data[1].feedback)

                                let rating1 = $("#rating1").children("i").slice(0, data[1].star);
                                rating1.css("color", "#fcd303")
                            }
                            // 3rd
                            if (data[2]){
                                $("#feedback2").css("display", "block");
                                $("#date2").text(data[2].date)
                                $("#user2").text(data[2].user)
                                $("#content2").text(data[2].feedback)

                                let rating2 = $("#rating2").children("i").slice(0, data[2].star);
                                rating2.css("color", "#fcd303")
                            }
                        }
                    },
                    error: function(data) {
                        // FAILED
                        console.log('Failed: ' + data)
                    }
                });
            }

            function prevPage(){
                const current = parseInt(document.getElementById('pageNumber').innerHTML)
                if (current > 1){
                    const prev = current - 1
                    document.getElementById('pageNumber').innerHTML = prev

                    loadFeedback(prev)
                }
            }

            function nextPage(){
                const current = parseInt(document.getElementById('pageNumber').innerHTML)
                const next = current + 1
                document.getElementById('pageNumber').innerHTML = next

                loadFeedback(next)
            }
        </script>
    </body>
</html>