<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ShopMe</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="/css/search.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body onload="setPage()">
        <!--Header - Navbar-->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg py-3">
            <div class="container">
                <a class="navbar-brand" href="/home">ShopMe</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                    
                    <form class="d-flex mt-3 mt-lg-0" role="search" action="/search" method="get">
                        <input id="search" class="form-control" type="search" name="name" placeholder="Search" aria-label="Search">
                        <button id="search-btn" class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!--Will be render if NOT LOGGED IN-->
                        <% if ( role === null) { %> 
                        <li class="nav-item mx-2 px-2">
                            <a class="nav-link" aria-current="page" href="/login">Log in</a>
                        </li>

                        <li class="nav-item mx-2 px-2">
                            <a class="nav-link" aria-current="page" href="/register">Sign up</a>
                        </li>
                        <!--ADMIN-->
                        <% }else if ( role === 'admin'){  %>
                            <script>window.location.href='/admin';</script>
                        <% }else{ %> 
                        <!--CUSTOMER-->
                        <li class="nav-item mx-2 px-2">
                            <a class="nav-link" aria-current="page" href="/cart">
                                Cart
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown mx-2 px-2">
                            <a class="nav-link dropdown-toggle" href="#"
                                role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Settings
                            </a>
                            <ul class="dropdown-menu">
                                <li><p class="dropdown-item-text mb-0" style="font-weight: bold;">Welcome back!</p></li>
                                <li><p class="dropdown-item-text"><%= email %></p></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/myOrders">My orders</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/changeInfo">Change information</a></li>
                                <li><a class="dropdown-item" href="/changePassword">Change password</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/report">Report to admin</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <!--Use a form to send POST to log out-->
                                    <form action="/logout?_method=DELETE" method="POST">
                                        <button type="submit" class="dropdown-item">Log out</button>
                                    </form>
                                </li>
                            </ul>
                        </li>

                        <% } %> 
                    </ul>
                </div>
            </div>
        </nav>

        <!--Body outermost container-->
        <div class="container pb-5" style="background-color: white;">
            <button class="btn btn-outline-secondary m-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Show filter
            </button>
              
            <!--Filter section-->
            <div class="collapse p-3 border" id="collapseExample">
                <label for="price" class="form-label m-1">Price range</label><br>

                <label class="form-label ms-4">From: </label>
                <input type="number" name="min" class="form-control w-25 d-inline">
                <label class="form-label ms-4">To: </label>
                <input type="number" name="max" class="form-control w-25 d-inline">
                <br>

                <label for="category" class="form-label m-1">Category</label><br>
                <select name="category" class="form-control" required>
                    <option value="Empty"></option>
                    <option value="Electronics">Electronics</option>
                    <option value="Healthcares">Healthcares</option>
                    <option value="Tools">Tools</option>
                    <option value="Lifestyles">Lifestyles</option>
                    <option value="Clothings">Clothings</option>
                    <option value="Accessories">Accessories</option>
                    <option value="Cosmetics">Cosmetics</option>
                    <option value="Shoes">Shoes</option>
                </select>

                <button class="btn btn-outline-primary mt-3" onclick="filter()">Apply filter</button>
            </div>


            <!--Did not input any product name to search-->
            <% if (validName == 'NO'){ %> 
            <div class="container d-flex flex-column align-items-center" style="width: fit-content;">
                <img src="/media/search.png" id="empty" alt="Empty">
                <h4 class="text-center">Please input a name to the search bar to search for product</h4>
            </div>
            <% }else{ %> 

            <!--Search results-->        
            <!--The list container-->
            <h3 class="py-4">Showing 10 results per page...</h3>
            <div id="new-arrivals-container" class="container d-flex flex-row p-0 flex-wrap">
                <% for (let i = 0; i < result.length; i++ ) { %>
                <!--Card-->
                <div class="card-container m-2" id="<%= result[i].productId %>" onclick="viewDetail(this)">
                    <div class="card p-2 shadow">
                        <img class="card-img-top" src='data:<%=result[i].mimeType%>;base64,<%=result[i].base64%>' alt="ProductIMG" />
                        <div class="card-body">
                            <h5 class="card-title"> <%= result[i].productPrice %> VND</h5>
                            <p class="card-text"> <%= result[i].productName %></p>
                        </div>
                        <!--Overlay-->
                        <div class="overlay">
                            <span class="overlay-text">View details</span>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>

            <!--Button-->
            <div class="container d-flex align-items-center justify-content-center">
                <button class="btn btn-outline-primary m-3" onclick="prevPage()">Prev</button>
                <span id="pageNumber">1</span>
                <button class="btn btn-outline-primary m-3" onclick="nextPage()">Next</button>
            </div>
            <% } %> 
        </div>

     
        

        <!--JAVASCRIPT-->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
        <script>
            function filter(){
                let URLfilter = ''

                var url = new URL(window.location.href);
                var c = url.searchParams.get("name");

                let varA = $('input[name=min]').val()
                let varB = $('input[name=max]').val()
                let varC = $('select[name=category]').val()

                if( varA !== '' ){
                    URLfilter += '&min=';
                    URLfilter += varA;
                }
                if( varB !== '' ){
                    URLfilter += '&max=';
                    URLfilter += varB;
                }
                if( varC !== 'Empty' ){
                    URLfilter += '&category=';
                    URLfilter += varC;
                }

                //console.log('?name=' + c + URLfilter);
                window.location.href = '?name=' + c + URLfilter
            }


        
            function viewDetail(obj) {
                //window.alert(obj.id);
                window.location.href = '/productDetail?id=' + obj.id;
            }

            function nextPage(){
                var url = new URL(window.location.href);
                const currentPage = parseInt(url.searchParams.get("page"));
                url.searchParams.set("page", (currentPage + 1).toString());
                window.location.href = url
            }

            function prevPage(){
                var url = new URL(window.location.href);
                const currentPage = parseInt(url.searchParams.get("page"));
                if (currentPage !== 1){
                    url.searchParams.set("page", (currentPage - 1).toString());
                    window.location.href = url
                }
            }

            function setPage(){
                var url = new URL(window.location.href);
                document.getElementById('pageNumber').innerHTML=url.searchParams.get("page");
            }
        </script>
    </body>
</html>